*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    margin-top: 12px;
    margin-bottom: 24px;
}

.board-root
{
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3,90px);
    gap: 4px;
    padding: 4px;
    border: 2px solid rgb(177, 177, 177);
}

.board-root.disabled
{
    pointer-events: none;
    opacity: 0.6;
}

.board-cell
{
    background-color: aliceblue;
    border: 2px solid gainsboro;
    font-size: 2em;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cross
{
    color:crimson;
}

.circle
{
    color:darkseagreen;
}

.game-ui
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 36px;
}

.game-ui > button
{
    width: max-content;
    padding: 12px 24px;
    font-size: 1.2em;
}